:root{
    --primary-color:#fa65b1;
    --text-color:#b8b8b8;
    --black-color: #333;
    --while-color: #fff;
}
html{
    font-size: 62.5%;
    
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
     scroll-behavior: smooth; 
}
ul{
    list-style: none;

}
a{
    text-decoration:none;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.huong{
    max-width: 1310px;
    margin: auto;
}
.grid__2{
   max-width: 50%;
}




.sticky{
    
   
    display: none;
}
.line{
    display: block;
    margin: auto;
}
/* table */
@media only screen and (min-width: 740px) and (max-width: 1023px) 
{
    .header__heading--btn{
        display: none;
    }
    .contern__home--sub{
        display:block;
    }
    .contern__about{
        display: block;
    }
    .contern__blog-contern{
        display: block;
    }
    .contern__projects-list{
        display: block;
    }
    .contern__blog-contern{
        padding : 0;
    }



    /* header */
    .header__sub-sub{
        padding: 0 48px;
    }
    .header__header{
        padding : 0 46px;
    }
    .header__heading--menu-item{
        margin-right: 35px;
    }
    .header__heading--menu{
        text-align: center;
        margin-right: 0;
    }

    /*CONTERN*/
    .contern__home--content{
        max-width: 100% !important;
        text-align: center;
    }
    .contern__home--content-name{
        padding: 0 60px;
    }
    .contern__home--content-content{
        display: block;
        padding: 0 113px;
    }
    .contern__home--img{
        display: block;
        margin: 100px 76px 0 48px;
    }
    #img-home{
        width: 150%;
    }
    .contern__about-img{
        width: 94%;
        margin: 0 26px;
    }
    .contern__about-contern-header{
        margin-left: 96px;
        display: block;
    }
    .line-home {
        display: block;
        margin-left: 100px;
        margin-bottom: 30px;
    }
    .contern__about-text{
        margin: 0 100px;
    }
    .magin-right {
        margin-right: 4px;
        color: #0d6efd;
    }
    .contern__about-border{
        width: 100%;
    justify-content: space-around;
    padding: 0 105px;
    margin-top: 21px;
    }
    .contern__servises-contern{
        width: 85%;
        display: block;
    }
    .contern__servises-contern-content-check-item-text{
        color: #333;
    }
    .contern__servises-contern-content-check-item{
        margin-right: 58px;
    }
    .contern__slidebar{
        height: 460px;
        background-size: 200%;
    }
    .contern__slidebar-enter{
        width: 85%;
        margin-top: 63px;
    }
    .contern__projects-heading-contern{
        margin-left: 38px;
    }
    .line-project{
        width: 48px;
        margin-left: 5px;
    }
    .contern__projects-list{
        display: flex;
    }
    .contern__projects-list-item{
        margin-right: -750px;
        width: 347px;
    }
    .contern__blog-contern-left{
        margin-left: 72px;
    }
    .contern__blog-contern-left{
        height: 811px;
        margin-right: 55px;
        width: 668px;
    }
    .contern__blog-contern-right-contern{
        margin-left: 72px;
    margin-right: 55px;
    margin-top: 36px;
    }
    .contern__contact-heading{
        background: none;
    }
    .line{
        width: 48px;
    }
    .contern__contact-contern{
        display: block;
        width: 85%;
        height: 2180px;
    }
    .contern__contact-contern-img img{
        width: 139%;
    padding: 42px;
    border-radius: 66px;
    }
    .contern__contact-contern-contern-social{
        display: block;
    }
    .contern__contact-contern-contern-social-phone{
        margin: 0 78px;
        margin-bottom: 20px;
    }
    .contern__contact-contern-contern-input{
        display: block;
    }
    .contern__contact-contern-contern-input-left input{
        margin-left: 73px;
        width: 80%;
    }
    .contern__contact-contern-contern-input-right{
        margin-left: 62px;
    width: 89%;
    }
    .contern__projects-list-item {
        margin-left: 239px;
    }
    .contern__projects-list{
        display: block;
    }
    .contern__servises-menu-item-name{
        display: none;
    }
}
@media only screen and (max-width: 739px)
{
    .contern__about{
        display: block;
    }
    .contern__servises-contern{
        display: block;
    }
    .contern__projects-list-item{
        margin-right: 0;
    }
    .contern__blog-contern-left{
        max-width: 100%;
    }
    .contern__blog-contern{
        padding: 0;
    }
    .contern__home--sub{
        display: block;
    }
    .contern__blog-contern{
        display: block;
    }
    .contern__blog-contern-time{
        padding-left: 0;
    }

    /* header */
    .header__sub-contact-phone{
        display: none;
    }
    .header__sub-contact-email{
        width: 100px;
    margin-left: 20px;
    }
    .header__sub-contact-email-text{
        color: #b8b8b8;
    }
    .header__sub-icon{
        width: 141px;
    }
    .header__heading--menu{
        display: none;
    }
    .header__heading{
        margin-left: 48px;
    }
    .header__heading--btn{
        display: none;
    }
    .contern__home--content-subname{
        width: 420px;
        display: block;
        text-align: center;
    }
    .contern__home--content-name{
        width: 364px;
        display: block;
        margin-left: 29px;
    }
    .contern__home--content-content{
        text-align: center;
    display: block;
    margin-left: 54px;
    width: 310px;
    }
    .contern__home--content-button-link{
        margin-left: 143px;
    width: 127px;
    }
    #img-home{
        width: 194%;
    margin-top: 12px;
    margin-left: 3px;
    }
    .contern__about-img{
        margin-top: -20px;
    }
    .contern__about-contern-header {
        margin-left: 12px;
    }
    .line-home{
        margin-left: 12px;
    }
    .contern__about-text{
        margin-left: 12px;
    }
    .magin-right{
        color: #0d6efd;
    }
    .contern__about-border{
        display: block;
    text-align: center;
    margin-left: 113px;
    }
    .contern__about-border-items-seconds{
        margin-top: 26px;
    margin-left: 26px;
    }
    .contern__about-border-items-third{
        margin-top: 26px;
    margin-left: 26px;
    margin-bottom: -22px;
    }
    .line{
        width: 12%;
    }
    .contern__servises-menu{
        padding: 0 58px;
    }
    .contern__servises-menu-item-name{
        display: none;
    }
    .contern__servises-contern.huong{
        width: 94%;
    }
    h1.contern__servises-contern-content-header {
        width: 285px;
    margin-left: -72px;
    }
    .contern__servises-contern-content-text{
        line-height: 2;
    margin-left: -72px;
    width: 189%;
    }
    .contern__servises-contern-content-check{
        width: 200%;
    margin-left: -72px;
    }
    span.contern__servises-contern-content-check-item-text{
        color: #333;
        
    }
    .contern__servises-contern-content-check-item{
        width: 50.33333%;
    }
    .contern__servises-contern-img {
        width: 132px;
    margin-left: 12px;
    }
    .contern__slidebar-enter{
        width: 93%;
    }
    .contern__slidebar{
        background-size: 400%;
    } 
    .contern__slidebar-enter{
        display: block;
        height: 200px;
    }
    .contern__slidebar-enter-input{
        display: block;
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .contern__slidebar-enter-button{
        width: 100%;
    height: 38%;
    margin: 0;
    }
    .contern__slidebar{
        height: 586px;
    }
    .contern__projects-heading-contern{
        margin: 0;
    }
    .line-project{
        width: 12%;
        margin-left: 171px;
    }
    .contern__projects-heading{
        text-align: center;
    }
    .contern__projects-list{
        display: block;
    }
    .contern__servises-contern-img-img{
        width: 227%;
    }
    .contern__projects-list-item {
        margin-left: 43px;
    }
    .line-blog{
        margin-left: 42%;
    margin-bottom: 80px;
    width: 14%;
    }
    img.contern__blog-contern-left-img {
        width: 100%;
    
    }
    .contern__blog-contern-left-cotern-footer{
        display: block;
    }
    .contern__blog-contern-left-cotern-footer-button{
        display: block;
    margin-left: 70px;
    margin-top: 23px;
    }
    .contern__blog-contern-left {
        margin: 0 9px;
    width: 97%;
    }
    .contern__blog-contern-right-contern-item-img{
        width: 132px;
    height: 132px;
    }
    .contern__blog-contern-right-contern-item-contern-contern-subtext{
        display: none;
    }
    .contern__contact-heading {
        background-image: none;
    }
    .contern__contact-contern{
        width: 95%;
    }
    .contern__contact-contern{
        display: block;
    }
    .contern__contact-contern-img{
        width: 92%;
    margin-left: 16px;
    margin-top: 12px;
    }
    .contern__contact-contern{
        height: 1800px;
    }
    .contern__contact-contern-contern-social{
        display: block;
    }
    .contern__contact-contern-contern-social-phone{
        padding: 32px 48px;
        margin: 24px 70px;
    }
    .contern__contact-contern-contern-input{
        display: block;
    }
    .contern__contact-contern-contern-input {
        padding: 0 42px;
    }
    .contern__contact-contern-contern-input-left input {
        width: 84%;
    }
    .contern__contact-contern-contern-input-right-message {
        width: 84%;
        margin-left: 29px;
    }
    .contern__contact-contern-contern-button {
        width: 72%;
        margin-left: 48px;
    }
    .footer{
        margin-right: -8px;
        margin-top: 20px;
    } 
    .contern__blog-contern-right-contern {
        margin: 14px 18px;
    }




}
